// Colors
$primary-color: #F26732;
$secondary-color: #6C6C72;
$primary-black: #151515;
$primary-white: #FFFFFF;

/** Breakpoints **/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1201px,
  xxl: 1400px
);

$gutters: unset;

/** Font Sizes **/
$mob-font-size-lg: 1rem; // 18
$mob-font-size-md: 1rem; // 18
$mob-font-size-sm: 0.75rem; // 18
$mob-font-size-h1: 1.25rem; // 18
$mob-font-size-h2: 1.25rem; // 18
$mob-font-size-h3: 1.25rem; // 18
$mob-font-size-h4: 1rem; // 18

$tab-font-size-lg: 1rem; // 18
$tab-font-size-md: 1rem; // 18
$tab-font-size-sm: 0.75rem; // 18
$tab-font-size-h1: 1.25rem; // 18
$tab-font-size-h2: 1.25rem; // 18
$tab-font-size-h3: 1.25rem; // 18
$tab-font-size-h4: 1rem; // 18

$desk-font-size-lg: 1rem;
$desk-font-size-md: 1rem;
$desk-font-size-sm: 0.75rem;
$desk-font-size-h1: 2.5rem;
$desk-font-size-h2: 2rem;
$desk-font-size-h3: 1.75rem;
$desk-font-size-h4: 1rem;

/** Padding **/
$region-padding: 2rem 0;

/** Margin **/
$region-margin: 2rem 0;

/** Image **/
%image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}